#about {
    margin: auto;
    .container {
        background-color: rgba(255, 255, 255, 0.2);
        margin-bottom: 5%;
        padding: 50px;
        border-radius: 50px;
        @media screen and (max-width: 768px) {
            margin-top: 10%;
            padding: 20px;
            border-radius: 25px;
        }
        h2 {
            font-size: $font-size-h2;
        }
        blockquote {
            background: linear-gradient(45deg, #f06625, #950a11, #310600);
            color: white;
            padding: 20px 40px;
            border-radius: 50px;
            @media screen and (max-width: 768px) {
                margin: 10px;
                border-radius: 25px;
                padding: 8px 25px;
            }
            p{
                font-size: 1.3rem;
            }
        }
        p {
            font-size: $font-size-text;
        }
        ul {
            display: grid;
            grid-template-columns: 1fr 1fr;
            // column-gap: 100px;
            row-gap: 10px;
            background: linear-gradient(45deg, #f06625, #950a11, #310600);
            width: 100%;
            padding: 50px;
            border-radius: 50px;
            @media screen and (max-width: 768px) {
                display: block;
                margin: 10px;
                border-radius: 25px;
                padding: 10px 25px 10px 0px;
            }
            li {
                list-style: circle inside;
                padding-left: 50px;
                font-size: 1.2rem;
                color: white;
            }
        }
    }
}
