// #about section:nth-child(2) {
//   position: relative; }
//   #about section:nth-child(2) p:nth-of-type(2) {
//     align-self: center;
//     margin-top: 2rem;
//     color: var(--color-secondary);
//     font-size: 1.5em;
//     font-weight: var(--font-weight-strong);
//     text-align: center; }
//   #about section:nth-child(2) ul {
//     display: flex;
//     flex-wrap: wrap;
//     justify-content: center;
//     margin: 1rem 0 2rem;
//     padding: 0;
//     list-style: none; }
//     #about section:nth-child(2) ul li {
//       margin: 0.25em;
//       padding: 0.25em 0.5em;
//       background-color: var(--color-light); }
//   #about section:nth-child(2)::before {
//     position: absolute;
//     top: 60%;
//     left: 50%;
//     width: 100%;
//     height: 0;
//     padding-bottom: 100%;
//     transform: translate(-50%, -50%);
//     transition: 300ms transform ease-in;
//     background-image: radial-gradient(rgba(255, 0, 0, 0) 20%, #b3f8f1 20%, #b3f8f1 25%, rgba(255, 0, 0, 0) 25%, rgba(255, 0, 0, 0) 30%, #b3f8f1 30%, #b3f8f1 40%, rgba(255, 0, 0, 0) 40%, rgba(255, 0, 0, 0) 45%, #b3f8f1 45%, #b3f8f1 50%, rgba(255, 0, 0, 0) 50%);
//     opacity: 0.8;
//     content: "";
//     z-index: -1; }
//     @media (max-width: 35rem) {
//       #about section:nth-child(2)::before {
//         transform: scale(2) translate(-25%, -25%); } }
#contribute {
    margin: auto;
    .container {
        background-color: rgba(255, 255, 255, 0.2);
        margin-bottom: 5%;
        padding: 50px;
        border-radius: 50px;
        @media screen and (max-width: 768px) {
            margin-top: 10%;
            padding: 20px;
            border-radius: 25px;
        }
        h2 {
            font-size: $font-size-h2;
        }
        h3 {
            font-size: $font-size-h3;
        }
        p {
            font-size: $font-size-text;
        }
    }
}