// #guidelines {
//   h3 {
//     display: inline-block;
//     transform: rotate(-8deg) translateX(-10%);
//     background: linear-gradient(to right, var(--color-primary), var(--color-secondary));

//     @supports (background-clip: text) or (-webkit-background-clip: text) {
//       -webkit-background-clip: text;
//       background-clip: text;
//       color: transparent;
//     }

//     @media (min-width: 120ch) {
//       transform: rotate(-8deg) translateX(-30%);
//     }
//   }

//   @supports (background-clip: text) or (-webkit-background-clip: text) {
//     p:nth-of-type(2) {
//       position: relative;

//       &::before {
//         position: absolute;
//         top: 0;
//         left: 0;
//         transform: rotate(4deg) translate(4.75rem, -3.5rem);
//         transform-origin: left center;
//         -webkit-background-clip: text;
//         background-clip: text;
//         color: var(--color-primary-alt);
//         font-size: 0.9em;
//         font-weight: normal;
//         content: "â† Whoa, text gradients!";
//       }
//     }
//   }

//   .container > a {
//     align-self: center;
//   }
// }
#guidelines {
    margin: auto;
    .container {
        background-color: rgba(255, 255, 255, 0.2);
        margin-bottom: 5%;
        padding: 50px;
        border-radius: 50px;
        @media screen and (max-width: 768px) {
            margin-top: 10%;
            padding: 20px;
            border-radius: 25px;
        }
        h2 {
            font-size: $font-size-h2;
        }
        h3 {
            -webkit-background-clip: text;
            background-clip: text;
            font-size: 2rem;
            transform: rotate(-10deg);
            background: -webkit-linear-gradient(45deg, #f06625, #950a11, #310600);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
        p {
            font-size: $font-size-text;
        }
        .link-guidelines {
            background: linear-gradient(45deg, #f06625, #950a11, #310600);
            text-decoration: none;
            padding: 10px 20px;
            border-radius: 50px;
            font-weight: 700;
            color: white;
        }
    }
}
