// header {
//   --logomark-height: 3em;
//   --logomark-padding: 0 1em;

//   display: grid;
//   min-height: 40vh;
//   place-items: center;
//   padding: 10vh 2rem;
//   background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='36' height='72' viewBox='0 0 36 72'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%233a00ff' fill-opacity='0.4'%3E%3Cpath d='M2 6h12L8 18 2 6zm18 36h12l-6 12-6-12z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E"),
//     url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='36' height='72' viewBox='0 0 36 72'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%23d42257' fill-opacity='0.4'%3E%3Cpath d='M2 6h12L8 18 2 6zm18 36h12l-6 12-6-12z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
//   background-repeat: repeat-x;
//   background-position: 0 -38px, 17px -40px;
//   color: var(--color-primary);
//   text-align: center;

//   h1 {
//     @include logomark;
//   }

//   h2 {
//     max-width: 30ch;
//   }
// }
header {
    margin: 100px auto auto auto;
    width: 100%;
    max-width: 100ch;
    .container {
        background-color: rgba(255, 255, 255, 0.2);
        margin-bottom: 5%;
        padding: 50px;
        border-radius: 50px;
        h1 {
            font-size: $font-size-h1;
            -webkit-background-clip: text;
            background-clip: text;
            background: -webkit-linear-gradient(45deg, #f06625, #950a11, #310600);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
        h2 {
            font-size: $font-size-h2;
        }
        p {
            font-size: $font-size-text;
        }
    }
}