// stylelint-disable no-descending-specificity
body {
  background-color: var(--color-background);
  color: var(--color-text);
  font-family: var(--font-family);
}

body {
  background: -moz-linear-gradient(45deg, #f7f002 0%, #f5b91d 29%, #f06625 66%, #950a11 100%);
  background: -webkit-linear-gradient(45deg, #f7f002 0%,#f5b91d 29%,#f06625 66%,#950a11 100%);
  background: linear-gradient(45deg, #f7f002 0%,#f5b91d 29%,#f06625 66%,#950a11 100%);
  background-size: 400% 400%;
  -webkit-animation: Gradient 15s ease infinite;
-moz-animation: Gradient 15s ease infinite;
animation: Gradient 15s ease infinite;
/*min-height: calc(100vh - 2rem);*/
display: flex;
flex-direction: column;
align-items: stretch;
justify-content: space-evenly;
overflow: hidden;
position: relative; 
}

body::before, 
body::after {
content: "";
width: 70vmax;
height: 70vmax;
position: absolute;
background: rgba(255, 255, 255, 0.07);
left: -20vmin;
top: -20vmin;
animation: morph 15s linear infinite alternate, spin 20s linear infinite;
z-index: 1;
will-change: border-radius, transform;
transform-origin: 55% 55%;
pointer-events: none; 
}

body::after {
  width: 70vmin;
  height: 70vmin;
  left: auto;
  right: -10vmin;
  top: auto;
  bottom: 0;
  animation: morph 10s linear infinite alternate, spin 26s linear infinite reverse;
  transform-origin: 20% 20%; 
}
#about::after {
  color: white;
  content: "";
  width: 70vmin;
  height: 70vmin;
  left: auto;
  right: 10vmin;
  top: auto;
  animation: morph 10s linear infinite alternate, spin 26s linear infinite reverse;
  transform-origin: 40% 40%; 
  position: absolute;
  background: rgba(255, 255, 255, 0.07);
  z-index: 1;
  will-change: border-radius, transform;
  pointer-events: none; 
}
#guidelines::after {
  content: "";
  width: 70vmin;
  height: 70vmin;
  left: 30vmin;
  right: auto;
  top: auto;
  animation: morph 10s linear infinite alternate, spin 26s linear infinite reverse;
  transform-origin: 46% 20%; 
  position: absolute;
  background: rgba(255, 255, 255, 0.07);
  z-index: 1;
  will-change: border-radius, transform;
  pointer-events: none; 
}
#contribute::after {
  content: "";
  width: 70vmin;
  height: 70vmin;
  left: 75vmin;
  right: auto;
  top: auto;
  animation: morph 10s linear infinite alternate, spin 26s linear infinite reverse;
  transform-origin: 10% 10%; 
  position: absolute;
  background: rgba(255, 255, 255, 0.07);
  z-index: 1;
  will-change: border-radius, transform;
  pointer-events: none; 
}
#files::after {
  content: "";
  width: 70vmin;
  height: 70vmin;
  left: 0vmin;
  right:auto;
  top: auto;
  animation: morph 10s linear infinite alternate, spin 26s linear infinite reverse;
  transform-origin: 90% 90%; 
  position: absolute;
  background: rgba(255, 255, 255, 0.07);
  z-index: 1;
  will-change: border-radius, transform;
  pointer-events: none; 
}
@-webkit-keyframes Gradient {
0% {
  background-position: 0 50%
}
50% {
  background-position: 100% 50%
}
100% {
  background-position: 0 50%
}
}

@-moz-keyframes Gradient {
0% {
  background-position: 0 50%
}
50% {
  background-position: 100% 50%
}
100% {
  background-position: 0 50%
}
}

@keyframes Gradient {
0% {
  background-position: 0 50%
}
50% {
  background-position: 100% 50%
}
100% {
  background-position: 0 50%
}
}

@keyframes morph {
0% {
  border-radius: 40% 60% 60% 40% / 70% 30% 70% 30%; }
100% {
  border-radius: 40% 60%; } 
}

@keyframes spin {
to {
  transform: rotate(1turn); 
} 
}
.st0{display:none;}
.st1{display:inline;}
.st2{opacity:0.29;}
.st3{fill:#FFFFFF;}
.st4{clip-path:url(#SVGID_2_);fill:#FFFFFF;}
.st5{clip-path:url(#SVGID_4_);}
.st6{clip-path:url(#SVGID_6_);}
.st7{clip-path:url(#SVGID_8_);}
.st8{clip-path:url(#SVGID_10_);}
.st9{fill:none;}
.st10{clip-path:url(#SVGID_12_);}
.st11{opacity:0.7;}
.st12{clip-path:url(#SVGID_14_);}
.st13{opacity:0.2;}
.st14{clip-path:url(#SVGID_16_);}
.st15{opacity:0.3;fill:#FFFFFF;enable-background:new    ;}

main {
  // padding-top: 5vh;
  // padding-bottom: 5vh;

  &:focus {
    outline: none;
  }

  h3 {
    color: var(--color-primary);
  }
}

article {
  section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-top: 5vh;
    padding-bottom: 5vh;
  }
}

article,
.page-footer,
#styles {
  .container {
    width: 100%;
    max-width: 100ch;
    margin-right: auto;
    margin-left: auto;
  }
}

article,
#styles {
  padding: 1rem;
}

.page-footer ul,
.features {
  display: grid;
  margin: 0 0 2rem;
  padding: 0;
  grid-gap: 1em;
  list-style: none;
}




