// .profile {
//   width: 95vw;
//   max-width: 80ch;
//   margin: 1rem auto 10vh;
//   padding: 1.25rem;
//   z-index: 1;

//   h4 {
//     margin: 0;
//     color: var(--color-secondary);
//     text-align: center;
//   }

//   .container {
//     display: grid;
//     justify-items: center;
//     grid-gap: 1rem;

//     > a {
//       min-height: 2em;
//       border: 2px solid currentColor;
//       color: var(--color-secondary);
//     }
//   }

//   ul {
//     display: flex;
//     flex-wrap: wrap;
//     justify-content: center;
//     margin: 0;
//     padding: 0;
//     list-style: none;

//     li {
//       display: flex;
//       padding: 0.45em;

//       span:nth-child(1) {
//         width: auto;
//         margin-right: 0.25em;
//         font-weight: var(--font-weight-strong);
//       }

//       span:nth-child(2) {
//         flex-grow: 1;
//         word-break: break-word;

//         a {
//           color: inherit;
//         }
//       }
//     }
//   }

//   @media (min-width: 180ch) {
//     position: fixed;
//     right: 2vmin;
//     bottom: 2vmin;
//     max-width: 30ch;
//     margin-bottom: 0;
//     border-radius: var(--border-radius);
//     background-color: var(--color-light);
//     box-shadow: 0 2px 5px rgba(color(primary), 0.15);

//     ul {
//       justify-content: unset;

//       li {
//         padding: 0;

//         span:nth-child(1) {
//           width: 8ch;
//           margin-right: 0;
//         }
//       }
//     }
//   }
// }
.profile {
    margin: auto;
    width: 100%;
    max-width: 100ch;
    @media screen and (max-width: 768px) {
        max-width: 40ch;
    }
    .container {
        text-align: center;
        background-color: rgba(255, 255, 255, 0.2);
        margin-bottom: 5%;
        padding: 50px;
        border-radius: 50px;
        @media screen and (max-width: 768px) {
            margin-top: 10%;
            padding: 20px;
            border-radius: 25px;
        }
        h4 {
            font-size: $font-size-h3;
            text-align: center;
        }
        ul {
            padding: 0;
            display: flex;
            justify-content: space-between;
            margin-bottom: 30px;
            li {
                list-style: none;
                span:nth-child(1) {
                    font-weight: 700;
                }

            }
        }
        a:nth-child(3) {
            text-decoration: none;
            margin: 10px;
            background: linear-gradient(45deg, #f06625, #950a11, #310600);
            padding: 10px 20px;
            border-radius: 50px;
            font-weight: 700;
            color: white;
        }
    }
}