$color-primary: #f06625 !default;
$color-primary-alt: #f7f002 !default;
$color-secondary: #f5b91d !default;
$color-background: #950a11 !default;
// $orange:#f06625;
// $yellow:#f7f002;
// $darkYellow: #f5b91d;
// $red: #950a11;
// $brown: #310600;
$brand-colors: (
  primary: $color-primary,
  primary-alt: $color-primary-alt,
  secondary: $color-secondary,
) !default;

$color-body: scale-color(
  $color-primary,
  $lightness: -30%,
  $saturation: -50%
) !default;
$color-gray: mix(#767676, $color-body, 70%) !default;

// $colors: map-merge(
//   $brand-colors,
//   (
//     background: $color-background,
//     text: $color-body,
//     light: #fff,
//   )
// );

// @function color($key) {
//   @return map-get($colors, $key);
// }

// @function svgColor($color) {
//   @return "%23" + str-slice("#{color($color)}", 2, -1);
// }

// $link-color: color(primary) !default;
// $border-radius: 8px !default;

$font-weight-strong: 500;
$font-size-h1: 6rem;
$font-size-h2: 3rem;
$font-size-h3: 2rem;
$font-size-h4: 1.35rem;
$font-size-text: 1.15rem;

$font-sizes: (
  h1: $font-size-h1,
  h2: $font-size-h2,
  h3: $font-size-h3,
  h4: $font-size-h4,
  text: $font-size-text,
);

// // stylelint-disable
// :root {
//   @each $key, $color in $colors {
//     --color-#{$key}: #{$color};
//   }

//   --color-anchor: #{$link-color};
//   --font-family: "Baloo 2", sans-serif;
//   --font-weight-strong: #{$font-weight-strong};

//   @each $key, $size in $font-sizes {
//     --font-size-#{$key}: #{$size};
//   }

//   --border-radius: #{$border-radius};
// }
